In [1]:
import pandas as pd
# Import bibliothèque de manipulation de dataframe
import pandas as pd

# Import des bibliothèques de viz
import matplotlib.pyplot as plt
import seaborn as sns

# Import split data
from sklearn.model_selection import train_test_split


# Import modèles de ML Supervisé Régression
from sklearn.linear_model import LinearRegression

# Import modèles de ML Supervisé Classification
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

# Import modèle de ML NON Supervisé
from sklearn.neighbors import NearestNeighbors

# Import des métriques
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score, classification_report, confusion_matrix, ConfusionMatrixDisplay

# Import outil standardisation de la donnée
from sklearn.preprocessing import StandardScaler

# Import pipeline
from sklearn.pipeline import Pipeline

# Gestion des warnings
import warnings

In [2]:
tmdb_df = "/Users/Nathan Vallet/Desktop/PROJET 2/vs_code_projet_2/tmdb_full.csv"
base_df = pd.read_csv(tmdb_df, sep = ',', low_memory=False)

tmdb_pre_final = base_df.drop(['adult','budget','homepage','id','original_language'
                               ,'spoken_languages','video','production_companies_country',
                               'production_countries','popularity', 'revenue','status', 'vote_average'
                               ,'vote_count','original_title','title','tagline'], axis = 1)
tmdb_pre_final.head(3)

,backdrop_path,genres,imdb_id,overview,poster_path,release_date,runtime,production_companies_name
0,/dvQj1GBZAZirz1skEEZyWH2ZqQP.jpg,['Comedy'],tt0029927,Blondie and Dagwood are about to celebrate the...,/zBiHKhXklvTFwj4M1uEUcQGAVJ.jpg,1938-11-30,70,['Columbia Pictures']
1,NaN,['Adventure'],tt0011436,NaN,/6xUbUCvndklbGVYiljHr34NTxSl.jpg,1921-01-01,420,[]
2,/uJlc4aNPF3Y8yAqahJTKBwgwPVW.jpg,"['Drama', 'Romance']",tt0055747,Love at Twenty unites five directors from five...,/aup2QCYCsyEeQfpboXy0f4uj8aE.jpg,1962-06-22,110,"['Ulysse Productions', 'Unitec Films', 'Cinese..."

In [4]:
titleBasics = "/Users/Nathan Vallet/Desktop/PROJET 2/vs_code_projet_2/titleBasics_New.csv"
df_titleBasics = pd.read_csv(titleBasics, sep='\t', low_memory=False)
df_titleBasics

,tconst,titleType,startYear,runtimeMinutes,genres1,genres2,genres3,averageRating,numVotes,title
0,tt0002130,movie,1911,71,Adventure,Drama,Fantasy,7.0,3800.0,L'Enfer
1,tt0002844,movie,1913,54,Crime,Drama,NaN,6.9,2632.0,Fantômas
2,tt0003740,movie,1914,148,Adventure,Drama,History,7.1,4159.0,Cabiria
3,tt0006206,movie,1915,421,Action,Adventure,Crime,7.3,5686.0,Les vampires
4,tt0006864,movie,1916,163,Drama,History,NaN,7.7,17394.0,Intolérance
...,...,...,...,...,...,...,...,...,...,...
13169,tt9900092,tvSeries,2020,42,Drama,Fantasy,Sci-Fi,7.3,19536.0,Motherland: Fort Salem
13170,tt9900782,movie,2019,145,Action,Crime,Thriller,8.4,46497.0,Kaithi
13171,tt9902160,movie,2020,97,Drama,NaN,NaN,7.0,5099.0,Herself
13172,tt9908860,tvSeries,2019,23,Reality-TV,NaN,NaN,7.2,4168.0,En verre et contre tous
13173,tt9911196,movie,2020,103,Comedy,Drama,NaN,7.4,3465.0,De Beentjes van Sint-Hildegard

In [5]:
df_final_final = tmdb_pre_final.merge(df_titleBasics, left_on = "imdb_id", right_on = "tconst", how = "inner")
df_final_final

,backdrop_path,genres,imdb_id,overview,poster_path,release_date,runtime,production_companies_name,tconst,titleType,startYear,runtimeMinutes,genres1,genres2,genres3,averageRating,numVotes,title
0,/uJlc4aNPF3Y8yAqahJTKBwgwPVW.jpg,"['Drama', 'Romance']",tt0055747,Love at Twenty unites five directors from five...,/aup2QCYCsyEeQfpboXy0f4uj8aE.jpg,1962-06-22,110,"['Ulysse Productions', 'Unitec Films', 'Cinese...",tt0055747,movie,1962,110,Drama,Romance,NaN,7.2,2516.0,L'Amour à 20 ans
1,/hQ4pYsIbP22TMXOUdSfC2mjWrO0.jpg,"['Drama', 'Comedy', 'Crime']",tt0094675,Taisto Kasurinen is a Finnish coal miner whose...,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,1988-10-21,73,['Villealfa Filmproductions'],tt0094675,movie,1988,72,Comedy,Crime,Romance,7.4,9169.0,Ariel
2,/l94l89eMmFKh7na2a1u5q67VgNx.jpg,"['Drama', 'Comedy', 'Romance']",tt0092149,"An episode in the life of Nikander, a garbage ...",/nj01hspawPof0mJmlgfjuLyJuRN.jpg,1986-10-17,76,['Villealfa Filmproductions'],tt0092149,movie,1986,74,Comedy,Drama,Music,7.4,7996.0,Ombres au paradis
3,/2w4xG178RpB4MDAIfTkqAuSJzec.jpg,"['Adventure', 'Action', 'Science Fiction']",tt0076759,Princess Leia is captured and held hostage by ...,/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg,1977-05-25,121,"['Lucasfilm Ltd.', '20th Century Fox']",tt0076759,movie,1977,121,Action,Adventure,Fantasy,8.6,1507385.0,La Guerre des étoiles
4,/yzqaKAhglTrkeOfuIXYYArf0WnA.jpg,"['Animation', 'Family']",tt0266543,"Nemo, an adventurous young clownfish, is unexp...",/5lc6nQc0VhWFYFbNv016xze8Jvy.jpg,2003-05-30,100,['Pixar'],tt0266543,movie,2003,100,Adventure,Animation,Comedy,8.2,1159720.0,Le Monde de Nemo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8976,/3vjLwvGF0Mp8GkqFdQOZJBpHMmE.jpg,['Comedy'],tt0059812,"PFC Molnár decides his WWII services are over,...",/7A7RWHC6ggtKtEpbKfa8E1UI253.jpg,1965-09-03,111,"['Hungarian Filmproduction', 'Mafilm']",tt0059812,movie,1965,111,Comedy,War,NaN,8.3,2907.0,Le Caporal et les autres
8977,/j4wgpGi6Dsu0AEmQ5AUnJzqr5IN.jpg,"['Documentary', 'Music', 'Comedy']",tt2737310,Mistaken for Strangers follows The National on...,/9uqeCbCsdLp0vqalN4buEfXALd8.jpg,2013-09-19,75,"['Final Frame', 'C5']",tt2737310,movie,2013,75,Comedy,Documentary,Music,7.3,4657.0,Mistaken for Strangers
8978,/16CMTxHLSTAIIQPsJQQigXuNxFc.jpg,"['Thriller', 'Drama', 'Romance']",tt2852406,"The drama, the story of three childhood friend...",/mzCdtXQYdLPrNr16Ld5ZowavKoa.jpg,2013-05-21,96,['ZBROS'],tt2852406,movie,2013,98,Crime,Drama,Romance,7.5,15926.0,Omar
8979,/ctzyA7JN6ZJ6FohK1itRoEBV4oV.jpg,['Drama'],tt2244877,In order to recover the body of her son lost d...,/zawq2lr9jo6ZJWA86zhwpCU22c5.jpg,2012-07-25,105,"['Hrvatska Radiotelevizija', 'RTVFBiH', 'Arkad...",tt2244877,movie,2012,97,Drama,War,NaN,7.9,2561.0,Le Chemin de Halima
8980,/hkVa4TVi0u0hOqmivehcTN6YUH7.jpg,"['Adventure', 'Drama']",tt2167266,Accompanied only by her faithful dog and four ...,/qDSA80DC8BmBrErQsiL23qwoeCw.jpg,2013-12-19,112,"['Screen Australia', 'See-Saw Films']",tt2167266,movie,2013,112,Adventure,Biography,Drama,7.1,32447.0,Tracks