In [2]:
# Import bibliothèque de manipulation de dataframe
import pandas as pd

# Import des bibliothèques de viz
import matplotlib.pyplot as plt
import seaborn as sns

# Import split data
from sklearn.model_selection import train_test_split

# Import modèles de ML Supervisé Régression
from sklearn.linear_model import LinearRegression

# Import modèles de ML Supervisé Classification
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

# Import modèle de ML NON Supervisé
from sklearn.neighbors import NearestNeighbors

# Import des métriques
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score, classification_report, confusion_matrix, ConfusionMatrixDisplay

# Import outil standardisation de la donnée
from sklearn.preprocessing import StandardScaler

# Import pipeline
from sklearn.pipeline import Pipeline

# Gestion des warnings
import warnings

In [28]:
file1 = '/Users/kdahm/Desktop/Formation_DATA_Analyst/Projet_2/ImDB/Regroupement/name.basics.tsv'
df_name = pd.read_csv(file1, sep = '\t', low_memory=False)

In [4]:
df_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14399151 entries, 0 to 14399150
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 659.1+ MB

In [121]:
df_name = df_name.drop(['birthYear', 'deathYear'],axis = 1)

In [ ]:
df_name['primaryProfession'] = df_name['primaryProfession'].astype(str).apply(lambda x: x.split(','))
df_name['knownForTitles'] = df_name['knownForTitles'].astype(str).apply(lambda x: x.split(','))

In [ ]:
df_name['Profession1'] = df_name['primaryProfession'].apply(lambda x: x[0] if isinstance(x, list) and len(x) > 0 else None)
df_name['Profession2'] = df_name['primaryProfession'].apply(lambda x: x[1] if isinstance(x, list) and len(x) > 1 else None)
df_name['Profession3'] = df_name['primaryProfession'].apply(lambda x: x[2] if isinstance(x, list) and len(x) > 2 else None)

In [119]:
df_name['movie1'] = df_name['knownForTitles'].apply(lambda x: x[0] if isinstance(x, list) and len(x) > 0 else None)
df_name['movie2'] = df_name['knownForTitles'].apply(lambda x: x[1] if isinstance(x, list) and len(x) > 1 else None)
df_name['movie3'] = df_name['knownForTitles'].apply(lambda x: x[2] if isinstance(x, list) and len(x) > 2 else None)
df_name['movie4'] = df_name['knownForTitles'].apply(lambda x: x[3] if isinstance(x, list) and len(x) > 3 else None)

In [123]:
df_name = df_name.drop(['primaryProfession', 'knownForTitles'],axis = 1)

In [124]:
df_name.head()

,nconst,primaryName,Profession1,Profession2,Profession3,movie1,movie2,movie3,movie4
0,nm0000001,Fred Astaire,actor,miscellaneous,producer,tt0072308,tt0050419,tt0027125,tt0031983
1,nm0000002,Lauren Bacall,actress,soundtrack,archive_footage,tt0037382,tt0075213,tt0117057,tt0038355
2,nm0000003,Brigitte Bardot,actress,music_department,producer,tt0057345,tt0049189,tt0056404,tt0054452
3,nm0000004,John Belushi,actor,writer,music_department,tt0072562,tt0077975,tt0080455,tt0078723
4,nm0000005,Ingmar Bergman,writer,director,actor,tt0050986,tt0069467,tt0050976,tt0083922