In [1]:
# Import bibliothèque de manipulation de dataframe
import pandas as pd

# Import des bibliothèques de viz
import matplotlib.pyplot as plt
import seaborn as sns

# Import split data
from sklearn.model_selection import train_test_split

# Import modèles de ML Supervisé Régression
from sklearn.linear_model import LinearRegression

# Import modèles de ML Supervisé Classification
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

# Import modèle de ML NON Supervisé
from sklearn.neighbors import NearestNeighbors

# Import des métriques
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score, classification_report, confusion_matrix, ConfusionMatrixDisplay

# Import outil standardisation de la donnée
from sklearn.preprocessing import StandardScaler

# Import pipeline
from sklearn.pipeline import Pipeline

# Gestion des warnings
import warnings

In [2]:
file7 = '/Users/kdahm/Desktop/Formation_DATA_Analyst/Projet_2/ImDB/Regroupement/title.ratings.tsv'
df_titleRatings = pd.read_csv(file7, sep = '\t', low_memory=False)

In [3]:
df_titleRatings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1567518 entries, 0 to 1567517
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1567518 non-null  object
 1   averageRating  1567518 non-null  float64
 2   numVotes       1567518 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 35.9+ MB

In [4]:
df_titleRatings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2156
1  tt0000002            5.5       292
2  tt0000003            6.5      2193
3  tt0000004            5.3       187
4  tt0000005            6.2      2940